---
import { siteConfig } from "../config";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main dir="rtl">
    <div class="min-h-screen flex flex-col relative items-center">
      <div class="z-20 bg-black/60 text-white backdrop-blur-sm px-5 py-10 rounded-2xl mx-5 max-w-3xl my-5 flex-grow flex justify-center items-center flex-col">
        <h1 class="text-3xl text-center">ุงูุณูู ุงูููุฌูุฑุฉ</h1>
        <p class="my-7 leading-[2.3] text-lg">
          {
            `ูู ุธู ุงูุชุทุงูู ุงูุฐู ูุญุฏุซ ุนูู ุฃุดุฑู ุงูุฎูู ูุจููุง ูุญูุฏ 
          ููุญู - ููุงุณู ุงูุดุฏูุฏ - ููุตุฑูู ููุณ ููุท ูู ุงูุฏูุงุน ุนูู ูุจููุง ุนููู ุงูุตูุงุฉ ูุงูุณูุงู ูููู ูู ุงุชุจุงุน ุณูุชู ุฃูุถุง . 
          ูุฐูู ูุฑุฑูุง ูุนูู ุฌุฑูุจ ูุญูู ููู ุงูุณูู ุงูููุฌูุฑุฉ ุนู ุงููุจู  . 
          ููููู ูุตุฑู ูู ููุณูุชู ู ููู ููุงู ุฏุนูุฉ ุฑุณูู ุงููู ุตูู ุงููู ุนููู ูุณูู ูู ุญุฏูุซู`
          }
          <span class="font-bold text-orange-500">
            {
              `" ูุถููุฑู ุงูููููู ุงูุฑุฃู ุณููุนู ููุงูุชู ุ ูุจูููุบููุง ุ ูุฑูุจูู ุญุงููู ููููู ุ ุบูุฑู ูููููู ุ ูุฑุจูู ุญุงููู ููููู ุฅูู ูู ููู ุฃููููู ูููู "`
            }
          </span>
          {`ุฅู ุดุงุก ุงููู ุณูุชู ุฅุฑุณุงู `}
          <span class="text-orange-300">{`ุณูู ูุงุญุฏุฉ`}</span>
          {` ุนู ุงููุจู  `}
          <span class="text-orange-300">{`ูู ููู`}</span>
          {
            `ูู ููุถูุน ูุนูู  ููููู ูุซูุง ุณูู ููุฌูุฑุฉ ูู ุตูู ุงููุถูุก  .
          ูุณูุฉ ูุงุญุฏุฉ ุทูุงู ุงูุดูุฑ ูุญุงูู ุฃู  ููุชุธู ุนูููุง .`
          }
        </p>
  
        <p class="mb-5 text-lg">ุงุชููู ุงููู ูุฏุฎู ุงูุฌุฑูุจ . ูุงูุฏุงู ุนูู ุงูุฎูุฑ ููุงุนูู . โฅ๏ธ๐น</p>
        <a class="font-bold flex items-center gap-3 bg-orange-600 rounded-lg px-7 py-3 shadow-lg hover:bg-orange-500 transition-colors duration-300 active:bg-orange-400" href="https://chat.whatsapp.com/CQ8RXh9IwON5FJxZXbD2Na">
          ุงูุงูุถูุงู ุงูู ุงููุฌููุนุฉ
          <img class="w-10 h-10" src="/whatsapp-icon.svg" />
        </a>
      </div>
  
      <img src="/bg.jpg" class="z-10 absolute inset-0 w-full h-full object-cover" loading="lazy" />
    </div>
  
</Layout>
